@import 'bourbon';

$color-black: #000;
$color-blue: #215baa;
$color-blue-light: #03a9e0;
$color-grey-dark: #515151;
$color-grey: #dbdfe2;
$color-white: #fff;

$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-jumbo: 36px;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$bp-tablet: 768px;

$trumpPhoto: 'https://c1.staticflickr.com/9/8105/8567825104_e14db572a1_k.jpg';

// Width of the main content body at the tablet or higher breakpoint.
$contentWidth: 350px;

body {
  background: $color-blue url($trumpPhoto) center top no-repeat;
  background-size: 100%;
  font: $font-size-base $font-family-sans;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  min-height: 100vh;
  overflow-x: hidden;
  padding-top: percentage(1365/2048);
  @include display(flex)
  @include flex-direction(column);

  @media screen and (min-width: $bp-tablet) {
    background-position: $contentWidth center;
    background-size: cover;
    padding-top: 0;
  }
}

p {
  margin-bottom: 1em;
}

.body-main {
  background: $color-blue;
  color: $color-white;
  padding-bottom: 40px;
  @include flex(1);

  @media screen and (min-width: $bp-tablet) {
    box-sizing: border-box;
    width: $contentWidth;
  }

  a:link,
  a:visited {
    color: $color-white;
    font-weight: $font-weight-bold;
  }

  a:hover,
  a:active,
  a:focus {
    text-decoration: underline;
  }
}

.main-header {
  font-weight: $font-weight-bold;
  margin-bottom: 1em;

  img {
    height: .67em;
    vertical-align: baseline;
  }
}

.form-header {
  border: 0;
  color: $color-white;
  font-weight: $font-weight-bold;
}

.form-row {
  @include display(flex);

  .form-group {
    padding-right: .5em;
    @include flex(1);

    .form-control {
      width: 100%;
    }
  }
}

.form-message {
  color: $color-black;
  font-size: $font-size-small;
  margin: 0 0 1em;
  padding: 10px;
}

.btn-submit,
.btn-share {
  background: $color-blue-light;
  color: $color-white;
  font-weight: $font-weight-bold;
  @include transition(all 100ms ease-in);

  &:hover,
  &:active,
  &:focus {
    background: lighten($color-blue-light, 10%);
    color: $color-white;
    outline: none;
  }
}

.btn-share {
  img {
    height: 1em;
    vertical-align: baseline;
    @include position(relative, .1em null null null);
  }
}

.body-footer{
  background-color: $color-black;
  color: $color-white;
  font-size: $font-size-small;
  padding: 15px;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    text-align: center;
  }
}

.confirmation-container {
  @include position(fixed, 0 0 0 0);
}

.confirmation-overlay {
  background: rgba($color-black, .5);
  z-index: 1;
  @include position(absolute, 0 0 0 0);
}

.confirmation-body {
  background: $color-white;
  box-sizing: border-box;
  max-width: 300px;
  padding: 20px;
  width: 100%;
  z-index: 2;
  @include position(absolute, 50% null null 50%);
  @include transform(translate(-50%, -50%));

  .btn-close {
    background: none;
    cursor: pointer;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    padding: 0;
    @include position(absolute, 0 10px null null);
  }
}
